spring:
    profiles:
        active: local
    application:
        name: skydatageo
    datasource:
        url: jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: test
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
                format_sql: true
        show-sql: true